<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        routerLink="['/home']"
        placement="bottom"
        tooltip="Front=End: Angular and Back-End: Python"
      >
        <span> Movie Rater• </span> FrontEnd-Angular
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      collapse="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> BLK• </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://twitter.com/moise_murhi"
            placement="bottom"
            target="_blank"
            tooltip="Follow me on Twitter"
          >
            <i class="fab fa-twitter"> </i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://github.com/mmoize"
            placement="bottom"
            target="_blank"
            tooltip="Check out my github"
          >
            <i class="fab fa-github-square"> </i>
            <p class="d-lg-none d-xl-none">Github</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.instagram.com/moise_murhi/"
            placement="bottom"
            target="_blank"
            tooltip="Follow me on Instagram"
          >
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']"> Loggin </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://github.com/creativetimofficial/blk-design-system-angular/issues"
          >
            Explore Movies
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header">
    <img class="path" src="assets/img/blob.png" />

    <img class="path2" src="assets/img/path2.png" />

    <img class="shapes triangle" src="assets/img/triunghiuri.png" />

    <img class="shapes wave" src="assets/img/waves.png" />

    <img class="shapes squares" src="assets/img/patrat.png" />

    <img class="shapes circle" src="assets/img/cercuri.png" />

    <div class="content-center">
      <div
        class="row row-grid justify-content-between align-items-center text-left"
      >
        <div class="col-lg-6 col-md-6">
          <h1 class="text-white">
            Top Rated Movies <br />

            <span class="text-white">        Search </span>
          </h1>
          <p class="text-white mb-3">
            Movie Rater is the world's most popular and authoritative source for movie, 
            TV and celebrity content. Find ratings and reviews for the newest movie and TV shows.
          </p>
          <div class="btn-wrapper mb-3">
            <p class="category text-success d-inline mr-1">From 0.00$/mo</p>
            <a
              class="btn btn-success btn-link btn-sm"
              href="javascript:void(0)"
            >
              <i class="tim-icons icon-minimal-right"> </i>
            </a>
          </div>
          <div class="btn-wrapper">
            <div class="button-container">
              <button
                class="btn btn-icon btn-simple btn-round btn-neutral mr-1"
                href="javascript:void(0)"
              >
                <i class="fab fa-twitter"> </i>
              </button>
              <button
                class="btn btn-icon btn-simple btn-round btn-neutral mr-1"
                href="javascript:void(0)"
              >
                <i class="fab fa-dribbble"> </i>
              </button>
              <button
                class="btn btn-icon btn-simple btn-round btn-neutral"
                href="javascript:void(0)"
              >
                <i class="fab fa-instagram"> </i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5">
          <img
            alt="Circle image"
            class="img-fluid"
            src="assets/img/illustrations-1.png"
          />
        </div>
      </div>
    </div>
  </div>
  <section class="section section-lg">
  </section>
  <section class="section section-lg">
    <img class="path" src="assets/img/path4.png" />

    <img class="path2" src="assets/img/path2.png" />

    <div class="col-md-12">
      <div class="card card-chart card-plain">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <hr class="line-primary" />

              <h5 class="card-category">Movies Seen</h5>
              <h2 class="card-title">Performance Rated</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="chartBig"> </canvas></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg section-coins">
    <img class="path" src="assets/img/path3.png" />

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <hr class="line-info" />

          <h1>
            Choose the Path
            <span class="text-info"> that fits your needs </span>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/illustration-5.png" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Western cinema</h4>
                  <span> Plan </span>
                  <hr class="line-primary" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">50 Movies</li>
                  <li class="list-group-item">100 Ratings</li>
                  <li class="list-group-item">24/7 Submissions</li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-primary btn-simple">Choose Path</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/illustration-7.png" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Northen Cinema</h4>
                  <span> Plan </span>
                  <hr class="line-success" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">150 Movies</li>
                  <li class="list-group-item">1000 Ratings</li>
                  <li class="list-group-item">24/7 Submissions</li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-success btn-simple">Choose Path</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/illustration-4.png" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Eastern Cinema</h4>
                  <span> Plan </span>
                  <hr class="line-info" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">350 Movies</li>
                  <li class="list-group-item">10K Ratings</li>
                  <li class="list-group-item">24/7 Submissions</li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-info btn-simple">Choose Path</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">Movie Rater•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Register </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/blog?ref=blkdsa-footer">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://opensource.org/licenses/MIT">
                License
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow Me:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://twitter.com/moise_murhi"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://github.com/mmoize"
              target="_blank"
            >
              <i class="fab fa-github-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://dribbble.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-instagram"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

