<!--

<form [formGroup]="form" >
    <label>Username</label><br>
    <input type="text" formControlName="username" /><br>

    <label>Password</label><br>
    <input type="password" formControlName="password"/><br>
    <br>
    <button (click)="onSubmit()">
       <span *ngIf="isLogin">Login</span>
       <span *ngIf="!isLogin">Register</span>
    </button>
</form>
<br>
<span  *ngIf="isLogin" (click)="onSwitchAuthMode()">Dont have an account? Register here</span>
<span  *ngIf="!isLogin" (click)="onSwitchAuthMode()">all ready have an account? go to login</span>
 -->

 <div  *ngIf="isLogin" class="login-page">
  <div class="form">
    <form  [formGroup]="form" class="login-form">
      <input type="text" formControlName="username"  placeholder="username"/>
      <input type="password" formControlName="password" placeholder="password"/>
      <button (click)="onSubmit()">login</button>
      <p class="message">Not registered? <a (click)="onSwitchAuthMode()">Create an account</a></p>
    </form>
  </div>
</div>
<div  *ngIf="!isLogin" class="login-page">
  <div class="form">
    <form  [formGroup]="form" class="login-form">
      <input type="text" formControlName="username"  placeholder="name"/>
      <input type="password" formControlName="password" placeholder="password"/>
      <input type="text" formControlName="email" placeholder="email address"/>
      <button (click)="onSubmit()">create</button>
      <p class="message">Already registered? <a (click)="onSwitchAuthMode()">Sign In</a></p>
    </form>
  </div>
</div>

