
<nav
class="navbar navbar-expand-lg fixed-top navbar-transparent"
color-on-scroll="100"
id="navbar-top"
>
<div class="container">
  <div class="navbar-translate">
    <a
      class="navbar-brand"
      routerLink="['/home']"
      placement="bottom"
      tooltip="Front=End: Angular and Back-End: Python"
    >
      <span> Movie Rater• </span> FrontEnd-Angular
    </a>
    <button
      aria-controls="navigation-index"
      aria-label="Toggle navigation"
      class="navbar-toggler navbar-toggler"
      [attr.aria-expanded]="!isCollapsed"
      (click)="isCollapsed = !isCollapsed"
      id="navigation"
      type="button"
    >
      <span class="navbar-toggler-bar bar1"> </span>
      <span class="navbar-toggler-bar bar2"> </span>
      <span class="navbar-toggler-bar bar3"> </span>
    </button>
  </div>
  <div
    class="navbar-collapse justify-content-end"
    collapse="isCollapsed"
    id="navigation"
  >
    <div class="navbar-collapse-header">
      <div class="row">
        <div class="col-6 collapse-brand"><a> BLK• </a></div>
        <div class="col-6 collapse-close text-right">
          <button
            aria-controls="navigation-index"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            [attr.aria-expanded]="!isCollapsed"
            (click)="isCollapsed = !isCollapsed"
            id="navigation"
            type="button"
          >
            <i class="tim-icons icon-simple-remove"> </i>
          </button>
        </div>
      </div>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item p-0">
        <a
          class="nav-link"
          href="https://twitter.com/moise_murhi"
          placement="bottom"
          target="_blank"
          tooltip="Follow me on Twitter"
        >
          <i class="fab fa-twitter"> </i>
          <p class="d-lg-none d-xl-none">Twitter</p>
        </a>
      </li>
      <li class="nav-item p-0">
        <a
          class="nav-link"
          href="https://github.com/mmoize"
          placement="bottom"
          target="_blank"
          tooltip="Check out my github"
        >
          <i class="fab fa-github-square"> </i>
          <p class="d-lg-none d-xl-none">Github</p>
        </a>
      </li>
      <li class="nav-item p-0">
        <a
          class="nav-link"
          href="https://www.instagram.com/moise_murhi/"
          placement="bottom"
          target="_blank"
          tooltip="Follow me on Instagram"
        >
          <i class="fab fa-instagram"> </i>
          <p class="d-lg-none d-xl-none">Instagram</p>
        </a>
      </li>
      <li class="dropdown nav-item" dropdown>
        <a
          class="dropdown-toggle nav-link dropdown-toggle"
          data-toggle="dropdown"
          dropdownToggle
          href="javascript:void(0)"
        >
        <i class="tim-icons icon-single-02"> </i>  Account
        </a>
        <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['']">
            <i class="tim-icons icon-single-02"> </i> Home
          </a>
          <a
            class="dropdown-item"
            [routerLink]="['/new-movie-review']"
          >
            <i class="tim-icons icon-paper"> </i> Post Review
          </a>
          <a class="dropdown-item" (click)=" onLogOut()"  [routerLink]="['/auth']">
            <i class="tim-icons icon-image-02"> </i> Logout
          </a>
        </div>
      </li>
      <li class="nav-item">
        <button  class="btn btn-primary btn-simple btn-round" type="button">
          Return to Explore Movies
        </button>
      </li>
    </ul>
  </div>
</div>
</nav>
<div style="margin-top: 10%;"  class="wrapper">
  <div style="margin-top: 10%;" class="page-header">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />

    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h1 class="profile-title text-left">{{userAuthProfile.username}}</h1>
          <h5 class="text-on-back">011</h5>
          <p class="profile-description">
          </p>
          <div class="btn-wrapper profile pt-3">
            <a
              class="btn btn-icon btn-twitter btn-round mr-1"
              href="https://twitter.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-facebook btn-round mr-1"
              href="https://www.facebook.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-dribbble btn-round"
              href="https://dribbble.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img
                class="img-center img-fluid rounded-circle"
                src="assets/img/mike.jpg"
              />

              <h4 class="title">DashBoard</h4>
            </div>
            <div class="card-body">
              <tabset
                class="nav-tabs-danger justify-content-center tab-subcategories"
              >
                <tab heading="Recent">
                  <div class="table-responsive">
                    <table class="table tablesorter" id="plain-table">
                      <thead class="text-danger">
                        <tr>
                          <th class="header">COIN</th>
                          <th class="header">AMOUNT</th>
                          <th class="header">VALUE</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>BTC</td>
                          <td>7.342</td>
                          <td>48,870.75 USD</td>
                        </tr>
                        <tr>
                          <td>ETH</td>
                          <td>30.737</td>
                          <td>64,53.30 USD</td>
                        </tr>
                        <tr>
                          <td>XRP</td>
                          <td>19.242</td>
                          <td>18,354.96 USD</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
                <tab heading="Viewed">
                  <div class="row">
                    <label class="col-sm-3 col-form-label"> Pay to </label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input
                          class="form-control"
                          placeholder="e.g. 1Nasd92348hU984353hfid"
                          type="text"
                        />

                        <span class="form-text">
                          Please enter a valid address.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label"> Amount </label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input
                          class="form-control"
                          placeholder="1.587"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <button
                    class="btn btn-simple btn-danger btn-icon btn-round float-right"
                    type="submit"
                  >
                    <i class="tim-icons icon-send"> </i>
                  </button>
                </tab>
                <tab heading="News">
                  <div class="table-responsive">
                    <table class="table tablesorter" id="plain-table">
                      <thead class="text-danger">
                        <tr>
                          <th class="header">Latest Crypto News</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>The Daily: Nexo to Pay on Stable...</td>
                        </tr>
                        <tr>
                          <td>Venezuela Begins Public of Nation...</td>
                        </tr>
                        <tr>
                          <td>PR: BitCanna â Dutch Blockchain...</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
  </div>
</div>
