
<nav
class="navbar navbar-expand-lg fixed-top navbar-transparent"
color-on-scroll="100"
id="navbar-top"
>
<div class="container">
  <div class="navbar-translate">
    <a
      class="navbar-brand"
      routerLink="['/home']"
      placement="bottom"
      tooltip="Front=End: Angular and Back-End: Python"
    >
      <span> Movie Rater• </span> FrontEnd-Angular
    </a>
    <button
      aria-controls="navigation-index"
      aria-label="Toggle navigation"
      class="navbar-toggler navbar-toggler"
      [attr.aria-expanded]="!isCollapsed"
      (click)="isCollapsed = !isCollapsed"
      id="navigation"
      type="button"
    >
      <span class="navbar-toggler-bar bar1"> </span>
      <span class="navbar-toggler-bar bar2"> </span>
      <span class="navbar-toggler-bar bar3"> </span>
    </button>
  </div>
  <div
    class="navbar-collapse justify-content-end"
    collapse="isCollapsed"
    id="navigation"
  >
    <div class="navbar-collapse-header">
      <div class="row">
        <div class="col-6 collapse-brand"><a> BLK• </a></div>
        <div class="col-6 collapse-close text-right">
          <button
            aria-controls="navigation-index"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            [attr.aria-expanded]="!isCollapsed"
            (click)="isCollapsed = !isCollapsed"
            id="navigation"
            type="button"
          >
            <i class="tim-icons icon-simple-remove"> </i>
          </button>
        </div>
      </div>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item p-0">
        <a
          class="nav-link"
          href="https://twitter.com/moise_murhi"
          placement="bottom"
          target="_blank"
          tooltip="Follow me on Twitter"
        >
          <i class="fab fa-twitter"> </i>
          <p class="d-lg-none d-xl-none">Twitter</p>
        </a>
      </li>
      <li class="nav-item p-0">
        <a
          class="nav-link"
          href="https://github.com/mmoize"
          placement="bottom"
          target="_blank"
          tooltip="Check out my github"
        >
          <i class="fab fa-github-square"> </i>
          <p class="d-lg-none d-xl-none">Github</p>
        </a>
      </li>
      <li class="nav-item p-0">
        <a
          class="nav-link"
          href="https://www.instagram.com/moise_murhi/"
          placement="bottom"
          target="_blank"
          tooltip="Follow me on Instagram"
        >
          <i class="fab fa-instagram"> </i>
          <p class="d-lg-none d-xl-none">Instagram</p>
        </a>
      </li>
      <li class="dropdown nav-item" dropdown>
        <a
          class="dropdown-toggle nav-link dropdown-toggle"
          data-toggle="dropdown"
          dropdownToggle
          href="javascript:void(0)"
        >
        <i class="tim-icons icon-single-02"> </i>  Account
        </a>
        <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
          <a
            class="dropdown-item"
            [routerLink]="['/new-movie-review']"
          >
            <i class="tim-icons icon-paper"> </i> Post Review
          </a>
          <a class="dropdown-item" [routerLink]="['/profile']">
            <i class="tim-icons icon-single-02"> </i> Profile
          </a>
          <a class="dropdown-item" (click)=" onLogOut()"  [routerLink]="['/auth']">
            <i class="tim-icons icon-image-02"> </i> Logout
          </a>
        </div>
      </li>
      <li class="nav-item">
        <button *ngIf="newSearchedMovies" (click)="returnTOMovieExple()" class="btn btn-primary btn-simple btn-round" type="button">
          Return to Explore Movies
        </button>
      </li>
    </ul>
  </div>
</div>
</nav>

   <div class="wrapper">
     <div class="page-header header-filter">
       <div class="squares square1"></div>
       <div class="squares square2"></div>
       <div class="squares square3"></div>
       <div class="squares square4"></div>
       <div class="squares square5"></div>
       <div class="squares square6"></div>
       <div class="squares square7"></div>
       <div class="container">
         <div #load_target style="margin-top: 40%;" >
           <app-searchbar (searchedItems)="searchedMovies($event)" ></app-searchbar>
         </div>
       </div>
     </div>
     <div style="margin-bottom: 10%;" class="main">
       <div class="section section-basic" id="basic-elements">
         <img class="path" src="assets/img/path1.png" />
         <div class="container">
          <div
          *ngIf="newSearchedMovies"
          fxLayout="row wrap" 
          fxLayout.lt-sm="column" 
          fxLayoutGap="32px" 
          fxLayoutAlign="flex-start">
      
            <ng-container *ngFor="let movie of newlySearchedMovies ">
              <app-card 
                (click)="searchedMovieDetail(movie)"
                [movie]="movie"
                [searchedMovie]="newSearchedMovies"
                fxFlex="0 1 calc(33.3% - 32px)"
                fxFlex.lt-md="0 1 calc(50% - 32px)"
                fxFlex.lt-sm="100%"
              ></app-card>
            </ng-container>
        </div>

        <div 
        *ngIf="!newSearchedMovies"
        fxLayout="row wrap" 
        fxLayout.lt-sm="column" 
        fxLayoutGap="32px" 
        fxLayoutAlign="flex-start">
    
          <ng-container *ngFor="let movie of movieList">
            <app-card 
              (click)="onMovieDetail(movie)"
              [searchedMovie]="newSearchedMovies"
              [movie]="movie"
              fxFlex="0 1 calc(33.3% - 32px)"
              fxFlex.lt-md="0 1 calc(50% - 32px)"
              fxFlex.lt-sm="100%"
            ></app-card>
          </ng-container>
      </div>
  </div>
</div>




   